/* Grundläggande styling */
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
.top-bar {
    background-color: #f1de8d; /* Gul färg */
    text-align: center;
    padding: 15px;
    font-weight: bold;
    z-index: 2;
}

/* NAVIGATION */
nav {
    position: absolute; /* Placera ovanpå välkomstsektionen */
    width: 100%;
    top: 20%; /* Justera så att den ligger under logotypen */
    left: 0;
    text-align: center;
	padding: 15px 0;
    z-index: 3; /* Se till att den ligger ovanpå bilden */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* FIND US SECTION */
.find-us-section {
	background: url('grey.png') no-repeat center center/cover;
	min-height: 100vh; /* Fyll hela skärmen */
    display: grid;
    grid-template-columns: 60% 40%; /* Dela upp i två lika stora kolumner */
    gap: 10px; /* Mellanrum mellan kolumner */
    align-items: center; /* Justera så att innehållet är vertikalt centrerat */
    padding: 50px;
}

/* KARTA */
.find-us-map img {
    max-width: 90%;
    height: auto;
    border-radius: 10px; /* Rundade hörn */
}

/* TEXTBLOK */
.find-us-text {
	color: white;
    max-width: 100%;
    text-align: left; /* Texten till vänsterjusterad */
}

.foodora-info-text {
    font-size: 14px; /* Mindre text */
    color: white; /* En mörkare färg för att texten inte ska förlora sig */
    margin-top: 10px; /* Lite avstånd mellan adressen och denna text */
}

.foodora-info {
    display: grid;
    grid-template-columns: auto 1fr; /* För att loggan ska ta så mycket plats som den behöver, och länken ska ta resten */
    gap: 10px;
    align-items: center; /* Vertikal centrering */
}

.foodora-info img {
    width: 70px; /* Storlek på Foodora-loggan */
    height: auto;
}

.foodora-info a {
    font-size: 14px;
    text-decoration: none;
    color: white; 
}